body {
  background-image: linear-gradient(to right,#0007 0%,#0007 100%), url('/images/bg.png');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
  font-size: 16px;
}