@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'side-panel main-panel main-panel';
  grid-column-gap: 1rem;
  margin: 1rem;
  width: calc(100% - 2rem);
  height: calc(100vh - 2rem);

  @media (max-width: 900px) {
    margin: 1rem 0rem;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'main-panel'
      'side-panel';
    grid-column-gap: 0rem;
  }
}

.side-panel {
  display: flex;
  flex-direction: column;
  grid-area: side-panel;
  background-color: #000000aa;
  border: 2px solid #ffffffcc;
  border-radius: 4px;
  height: 100%;
  overflow: scroll;

  @media (max-width: 900px) {
    height: 20rem;
  }
}

.commandfield {
  margin: 0 1rem;
  padding: 1rem 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  color: #FFFFFF;
  caret-color: white;
  
  &:active,
  &:focus,
  &:focus:active {
    background-image: none;
    outline: 0;
    box-shadow: none;
  }
}

.invalid-cmd-msg, .warning-cmd-msg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  margin: 0;
  padding: 0.25rem 1rem 1rem;
}

.invalid-cmd-msg {
  color: orangered;
}

.warning-cmd-msg {
  color: yellow;
}

.output-cmd-msg {
  margin: 0;
  padding: 0.25rem 1rem 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75rem;
  color: #ffae42;
};

.command-list-box {
  flex: 1 1 auto;
  overflow: scroll;
}

.command-list {
  display: flex;
  flex-direction: column-reverse;
  padding: 0rem 1rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  list-style-type: none;

  & li {
    color: #ADFF2F88;
    margin: 0.25rem 0;

    &:last-child {
      color: #ADFF2F;
    }
  }
}

.main-panel {
  grid-area: main-panel;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;

  @media (max-width: 900px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80vw;
    height: 80vw;
  }

  @media (max-width: 600px) {
    width: 90vw;
    height: 90vw;
  }
}

.board-tile {
  background-color: #ffffffcc;
  display: flex;
  justify-content: center;
  align-items: center;

  .robot {
    width: 60%;
    height: 60%;
    object-position: contain;
    object-position: center;
    filter: brightness(75%);
    transform: rotateZ(180deg);

    &.north {
      transform: rotateZ(180deg);
    }
    &.south {
      transform: rotateZ(0deg);
    }
    &.east {
      transform: rotateZ(270deg);
    }
    &.west {
      transform: rotateZ(90deg);
    }
  }
}